---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";
import { Picture } from "@astrojs/image/components";

import banner2 from "~/assets/pics/gaspump.png"

const features: Array<FeatureItem> = [
    {
    title: "Fair launch",
    description:
      "No presales, honeypots or hefty insider allocations. Launching through GasPump ensures fair token distribution, reducing market manipulation and rug pull risks.",
    icon: "mdi:handshake",
  },
{
    title: "LP burned",
    description:
      "When $BUTTZ hit the goal and land on DeDust.io, the platform instantly burn the liquidity pool (LP) tokens, further securing the market from the creators manipulating the liquidity.",
    icon: "mdi:fire",
  },
  {
    title: "Safe liquidity",
    description:
      "With GasPump launch, funds reaching the 1000 TON liquidity cap are automatically routed to DeDust.io, ensuring liquidity is securely and decentrally locked, preventing creator withdrawal.",
    icon: "mdi:chip",
  },
  {
    title: "100%  community driven",
    description:
      "Through staking of your NFT token(s) you can earn rewards in $BUTTZ. All earnings will be redeemable through raffle, merchandising, future mints and many more utilites.",
    icon: "mdi:flash",
  },
  {
    title: "What's DeDust",
    description:
      "DeDust.io is a decentralized exchange on the TON blockchain. By directing liquidity to http://DeDust.io, tokens are easily traded in a secure and decentralized manner. This promotes a healthier trading environment.",
    icon: "mdi:cash-usd",
  },
  {
    title: " The community",
    description:
      "Empowered by a growing community, $BUTTZ aims to create a movement of enthusiasts where everyone can contribute to the project's direction, sharing a common vision of fairness and equality.",
    icon: "mdi:account-group",
  },
];

---

<ContentSection title="Getting started with $BUTTZ" id="buttz">
    <Fragment slot="lead">Designed to create an entertaining experience for all participants in the ecosystem, <span class="text-primary">$BUTTZ</span> aims to contribute to the vibrancy and diversity of the <span class="text-primary">TON community</span> through a set of mini-apps,games and DeFi dapps.

<br><br>
<span class="text-primary">$BUTTZ </span>will be fair-launched via<span class="text-primary"> GasPump</span> ensuring transparency and fairness.


<div class="max-w-4xl space-y-2">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-1 lg:grid-cols-1">
       <a href="https://gaspump.fun" target="_blank">
      <Picture
      src={banner2}
      widths={widths}
      alt="$BUTTZ on GasPump"
    />
  </div>
</div>

<br><br><button type="button" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="https://DeDust.io" target="_blank">Trade on DeDust</a></button>
    <button type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="https://ston.fi" target="_blank">Trade on Ston.fi</a></button>

 </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
